
<div class="page-width">
  {% comment %}   パンクズ（リンクリスト）    ################################################ {% endcomment %}
  <div class="breadcrumb">
  {% assign menu = linklists.news-link-list %}
  <a href="/">Home </a>
  {% for link in menu.links %}
      {% if link.active or link.child_active %} <a href={{link.url}}><span> 　>　 </span>{{ link.title }}</a> {% endif %}
      {% if sub_link.active or sub_link.child_active %}> <a href={{sub_link.url}} > {{ sub_link.title }}</a> {% endif %}
  {% endfor %}
  </div>
  {% comment %}      パンクズ（リンクリスト）    ################################################ {% endcomment %}
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">


      <div class="section-header text-center">
        <span class="section-title">NEWS</span>
        <p>お知らせ</P>
      </div>

      <div class="rte">
        {% comment %} ####      リンクリスト    ############################################## {% endcomment %}
        {% assign menu = linklists.news-link-list %}
        {% for link in menu.links %}
          {% comment %} <p class=""><a href="{{ link.url }}">{{ link.title }}</a></p> {% endcomment %}
          {% for sub_link in link.links %}
            <p class="news-content"><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></p>
            {% for sub_sub_link in sub_link.links %}
              <p class="news-content"><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></p>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% comment %} ####     リンクリスト   ######################################################## {% endcomment %}
        {% comment %} {{ page.content }} {% endcomment %}
      </div>
      <div class="pagination">
        <p><　　pagination　　></p>
      </div>
    </div>
  </div>
</div>


<style>
  @media screen and (min-width: 750px) {
    .breadcrumb {
      margin-top: 50px;
      margin-bottom: 60px;
      font-size: 0.5em;
    }
    .breadcrumb span {
      color:rgb(164, 164, 164);
    }
    .section-header {
      margin-bottom: 10px;
    }
    .section-title {
      font-size:1.8em;
    }
    .rte {
      border-top: 2px solid rgb(240, 240, 240);
    }
    .news-content {
      line-height: 1em;
      margin: 0;
      font-size :1em;
      padding : 1.5em 0;
      border-bottom: 2px solid rgb(240, 240, 240);
    }
    .news-content a {
      border-bottom:none !important;
    }
    .pagination {
      text-align :center;
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 749px) {
    .breadcrumb {
      display:none;
    }
    .section-header {
      margin-bottom: 50px;
    }
    .section-title {
      font-size:1.5em;
    }
    .rte {
      border-top: 1px solid rgb(240, 240, 240);
      line-height: 2em;
    }
    .news-content {
      margin: 0;
      font-size :1em;
      padding : 1.5em 0;
      border-bottom: 1px solid rgb(240, 240, 240);
    }
    .news-content a {
      border-bottom:none !important;
    }
    .pagination {
      text-align :center;
      margin-bottom: 50px;
      padding-top: 0;
    }
  }
</style>