<div class="page-width">
  {% comment %}   パンクズ（リンクリスト）    ################################################ {% endcomment %}
  {% assign menu = linklists.news-link-list %}
  <a href="/">Home </a>
  {% for link in menu.links %}
    {% if link.active or link.child_active %} <a href={{link.url}}>  >  {{ link.title }}</a> {% endif %}
  {% endfor %}
   <a href={{page.url}}>  >  {{ page.title }}</a>
  {% comment %}   パンクズ（リンクリスト）    ################################################ {% endcomment %}
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>